#outer-bar{
    background: linear-gradient(180deg, #250f00 50%, #111111 50%);
}

#bar{
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10em;
    width: 65em;
    border-radius: 2.2em;
    background-image: linear-gradient(to right, #EE741D, #FFCD00);
}

#touch{
    color: white;
    height: 3em;
    width: 12em;
    background-image: linear-gradient(to right, #EE741D, #FFCD00);
    border-radius: 2em;
    border: none;
    box-shadow: 0 8px 6px -6px rgb(100, 100, 100);
    font-size: 1em;
}

#touch:hover{
    box-shadow: none;
}

#input-contact{
    padding-left: 1em;
    height: 3em;
    width: 19em;
    border-radius: 2em;
    border: none;
    font-size: 1em;
}

#touch-send{
    color: white;
    height: 3em;
    width: 7em;
    background-image: linear-gradient(to right, #EE741D, #FFCD00);
    border-radius: 2em;
    border: none;
    box-shadow: 0 8px 6px -6px rgb(100, 100, 100);
    font-size: 1em;
    align-self: flex-end;
    cursor: pointer;
}

#outer-input-form{
    height: 5em;
    width: 20em;
}