#li-color {
    list-style: none;
    line-height: 2;
}
  
#li-color::before {
content: "\2022";
color: #FFCD00;
font-weight: bold;
display: inline-block; 
width: 1em;
margin-left: -1em;
}


.div-row-major{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.div-row-major-button{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.div-col-cross{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}